@page
@using System.Globalization
@model IndexModel
@{
    ViewData["Title"] = Localizer.Text("News");
}

<h2>@Localizer.Text("News")</h2>
<p>@Localizer.Text("Current culture") : @CultureInfo.CurrentCulture.DisplayName (@CultureInfo.CurrentCulture.NativeName)</p>

<p>
    <a asp-page="Create">@Localizer.Text("Create New")</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.News[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.News[0].CategoryTitle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.News)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryTitle)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">@Localizer.Text("Edit")</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">@Localizer.Text("Details")</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">@Localizer.Text("Delete")</a>
            </td>
        </tr>
        }
    </tbody>
</table>

@* TODO: Delete, just test
    http://ziyad.info/en/articles/19-Configuring_Client_Side_Validation *@

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}