@page
@using System.Globalization
@using Microsoft.AspNetCore.Authorization
@using Htp.ITnews.Web.Authorization.Requirements
@inject IAuthorizationService AuthorizationService
@model IndexModel
@{
    ViewData["Title"] = Localizer.Text("News");
}

<link rel="stylesheet" href="~/css/comment.css" />
<link rel="stylesheet" href="~/css/rating.css" />

<div class="container">
    <div class="py-5 text-center">
        <h2>@Localizer.Text("News")</h2>
    </div>
    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <div>
                <form asp-page="./Index" method="get">
                    <div class="form-actions no-color">
                        <p>
                            @Localizer.Text("Find by title and description"): <input type="text" name="SearchString" value="@Model.CurrentFilter" />
                            <input type="submit" value="Search" class="btn btn-default" /> |
                            <a asp-page="./Index">@Localizer.Text("Back to full List")</a>
                        </p>
                    </div>
                </form>
            </div>
            <div class="alert" hidden id="not-supported">
                <strong>@Localizer.Text("Your browser is not supported.")</strong>
            </div>
            <div class="canvas-container">
                <canvas id="canvas"></canvas>
            </div>
        </div>
        <div class="col-md-8 order-md-1">
            <div class="news">
                <ul class="content-list">
                    @foreach (var item in Model.News)
                    {
                        <li class="content-list__item content-list__item_news" id="@item.Id">
                            <article>
                                <header>
                                    <p>
                                        <a asp-page="./Users/Index" asp-route-id="@item.AuthorId" class="user-info">
                                            <span class="user-info_nickname">@item.AuthorUserName</span>
                                        </a>
                                        <span class="news__date-time">@item.Created.ToLocalTime()</span>
                                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                                    </p>
                                </header>
                                <h3>
                                    <a asp-page="./News/Details" asp-route-id="@item.Id">@item.Title</a>
                                </h3>
                                <div>
                                    <div>
                                        <p>@item.Description</p>
                                    </div>
                                    <a asp-page="./News/Details" asp-route-id="@item.Id">@Localizer.Text("Continue reading")</a>
                                </div>
                                <footer></footer>

                            </article>
                        </li>
                    }
                </ul>

            </div>

        </div>

    </div>
</div>

@{
    var prevDisabled = !Model.News.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.News.HasNextPage ? "disabled" : "";
}


<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item @prevDisabled">
            <a asp-page="./Index"
               @*asp-route-sortOrder="@Model.CurrentSort" *@
               asp-route-pageIndex="@(Model.News.PageIndex - 1)"
               asp-route-currentFilter="@Model.CurrentFilter"
               class="page-link" aria-disabled="true">
                Previous
            </a>
        </li>
        @*<li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>*@
        <li class="page-item @nextDisabled">
            <a asp-page="./Index"
               @*asp-route-sortOrder="@Model.CurrentSort" *@
               asp-route-pageIndex="@(Model.News.PageIndex + 1)"
               asp-route-currentFilter="@Model.CurrentFilter"
               class="page-link" aria-disabled="true">
                Next
            </a>
        </li>
    </ul>
</nav>


@* TODO: Delete, just test
    http://ziyad.info/en/articles/19-Configuring_Client_Side_Validation *@

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js" integrity="sha256-CutOzxCRucUsn6C6TcEYsauvvYilEniTXldPa6/wu0k=" crossorigin="anonymous"></script>

    @*wordloud2*@
    <script src="~/lib/wordcloud2/wordcloud2.js"></script>
    <script>
jQuery(function ($) {
            var $canvas = $('#canvas');

            if (!WordCloud.isSupported) {
                $('#not-supported').prop('hidden', false);
                return;
            }

            var list = [];

            var tagsAPI = "?handler=TagsForCloud";

            $.getJSON(tagsAPI)
                .done(function (data) {
                    $.each(data, function (i, item) {
                        list.push([item.title, item.count, item.id]);
                    })
                    WordCloud($canvas[0], {
                        list: list,
                        minSize: 8,
                        weightFactor: 20,
                        click: function(item) {
                            window.location = '?tagString=' + item[2];
                        }
                    })
                })
                .fail(function () {
                    console.log("error");
                });

                });</script>
}
