@page
@model Htp.BooksAPI.Client.Pages.Books.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BookViewModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookViewModel.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookViewModel.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookViewModel.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookViewModel.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookViewModel.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookViewModel.Created)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookViewModel.CreatedByUserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookViewModel.CreatedByUserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookViewModel.Updated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookViewModel.Updated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookViewModel.UpdatedByUserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookViewModel.UpdatedByUserName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.BookViewModel.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
